/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2014, 11:25:07 AM
    Author     : tony
*/

.ul-add li { list-style: none; margin-bottom: 10px; }   
select#contactType, input.form-control { width:603px }
input[type="checkbox"].form-control { width: 14px; }
/*#add-email, #add-phone { margin-top: 0px } */
div#email-wrapper fieldset fieldset { position:relative }
div#email-wrapper fieldset fieldset button#rem.btn.btn-primary {
    position:absolute;
    right:0px;
    top:0px;
    margin-top: 0px;
}
div#phone-wrapper fieldset fieldset { position:relative }
div#phone-wrapper fieldset fieldset button#rem.btn.btn-primary {
    position:absolute;
    right:0px;
    top:0px;
    margin-top: 0px;
}
div#phone-wrapper fieldset fieldset { margin-bottom: -10px; }
div#email-wrapper input[type="text"].form-control { margin-bottom: 10px}
div#phone-wrapper input[type="text"].form-control { margin-bottom: 20px}